<form [formGroup]="form" (ngSubmit)="signInUp()" *ngIf="form && !loggedIn()" novalidate>
  <p>
    <mat-form-field class="example-full-width form-group">
      <input matInput formControlName="username" type="text" name="username" id="username" placeholder="Username">
    </mat-form-field>

    <mat-form-field class="example-full-width form-group">
      <input matInput formControlName="password" type="password" name="password" id="password" placeholder="Password">
    </mat-form-field>
  </p>

  <button mat-raised-button type="submit">Sign in/up</button>
</form>
