<md-toolbar color="primary">
  <a routerLink="/" style="text-shadow: whitesmoke">{{title}}</a>

  <span class="example-fill-remaining-space"></span>

  <span *ngIf="loggedIn()">
    <button md-button (click)="authService.logout()" color="secondary">
      Logout
    </button>
    <button md-raised-button routerLink="/rooms" color="accent">
      Rooms
    </button>
  </span>
  <button *ngIf="!loggedIn()" md-raised-button routerLink="/auth" color="accent">
    Login/join
  </button>
</md-toolbar>
