<form (ngSubmit)="getStream()" fxLayout="row" fxFlexAlign="center">
  <!--<div *ngIf="stream">
    <hr>
    <button mat-button (click)="webrtcService.call()">Call</button>
    <button mat-button (click)="webrtcService.hangup()">Hang up</button>
    <video autoplay #remote></video>
    <hr>
  </div>-->
  <div fxFlex="60%">
    <mat-form-field>
      <mat-select
        placeholder="microphone"
        [(ngModel)]="selectedMic"
        name="micSelector">
        <mat-option *ngFor="let mic of mics" [value]="mic.deviceId">
          {{mic.label || deviceId2Label[mic.deviceId]}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="camera"
        [(ngModel)]="selectedCam"
        name="camSelector">
        <mat-option *ngFor="let cam of cams" [value]="cam.deviceId">
          {{cam.label || deviceId2Label[cam.deviceId]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <div fxFlex="40%">
    <button mat-raised-button color="primary" type="submit" *ngIf="!recorder || recorder.state === 'inactive'">
      Use
    </button>
    <button mat-raised-button id="record" *ngIf="stream && (recorder ? recorder.state !== 'recording' : true)"
            (click)="startRecord()">
      <mat-icon class="record_voice_over">record_voice_over</mat-icon>
      Record
    </button>
    <button mat-raised-button id="stopRecording" *ngIf="recorder && recorder.state !== 'inactive'"
            (click)="stopRecord()">
      <mat-icon class="stop">stop</mat-icon>
      End recording
    </button>
    <p *ngIf="recorder" id="state">{{recorder.state}}</p>
  </div>
</form>

<div fxLayout="row" fxFlexAlign="center">
  <video fxFlex="100%" muted autoplay *ngIf="stream" #webcam></video>
</div>

<!--
<div #broadcast></div>
<button mat-button (disabled)="openRtcRoomToggle" (click)="openRtcRoom()">
  Open Room
</button>
<button mat-button (disabled)="joinRtcRoomToggle" (click)="joinRtcRoom()">
  Join Room
</button>
-->

<!--
<label for="yourId">YourID</label>
<textarea id="yourId"></textarea>
<label for="otherId">OtherID</label>
<textarea id="otherId"></textarea>


<form (ngSubmit)="sub($event)">
  <label for="incoming">Incoming</label>
  <textarea [(ngModel)]="incoming" name="incoming" id="incoming"></textarea>
  <button type="submit">submit</button>
</form>
<pre>outgoing = {{outgoing | json}}</pre>
-->
