<button mat-button routerLink="/rooms" color="accent">&crarr; Back to room list</button>
<h1 class="mat-h1">{{name}}</h1>

<mat-card *ngIf="webcams">
  <mat-card-title>
    <button mat-raised-button color="primary" (click)="addWebcam()">
      + Add webcam
    </button>
  </mat-card-title>
  <mat-card-subtitle *ngIf="webcams.length">Videos have been scaled 75% on this page</mat-card-subtitle>
  <mat-card-content *ngIf="webcams.length">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center" class="containerX">
      <div *ngFor="let webcam of webcams; index as idx" [id]="'box'+idx" fxFlex="45%" class="box{{(idx%14)+1}}">
        <h2 class="mat-h2">{{webcam}}
          <button class="exit-button" (click)="delWebcam(webcam)">&times;</button>
        </h2>
        <app-webrtc [name]="webcam"></app-webrtc>
      </div>
    </div>
  </mat-card-content>

  <mat-card-footer *ngIf="webrtcService.recorded.length">
    <ul class="recorded">
      <li *ngFor="let record of webrtcService.recorded">
        <a [href]="sanitize(record.href)" [download]="record.download">
          {{record.download}}
        </a>
      </li>
    </ul>
  </mat-card-footer>
</mat-card>

<mat-card>
  <mat-card-title>Broadcast</mat-card-title>
  <mat-card-content>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
      <div fxFlex="45%">
        <h2 class="mat-h2">stream0</h2>
        <button mat-button (click)="stream0 = true" *ngIf="!stream0">Show</button>
        <app-video *ngIf="stream0" [src]="'http://IP_ADDR:8085/stream0.webm'"></app-video>
      </div>
      <div fxFlex="45%">
        <h2 class="mat-h2">stream1</h2>
        <button mat-button (click)="stream1 = true" *ngIf="!stream1">Show</button>
        <app-video *ngIf="stream1" [src]="'http://IP_ADDR:8086/stream1.webm'"></app-video>
      </div>
    </div>
  </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-title>Chat</mat-card-title>
  <mat-card-content>
    <app-chat></app-chat>
  </mat-card-content>
</mat-card>
