<h3>{{name}}</h3>

<md-card class="card-demo">
  <md-card-title>Add cameras</md-card-title>
  <md-card-subtitle>Videos have been scaled 75% on this page</md-card-subtitle>
  <md-card-content>
    <div class="containerX" fxLayout="row">
      <div fxLayout="row" class="coloredContainerX box">
        <div fxFlex.gt-sm="50" fxFlex="50">
          <h2>Camera 0</h2>
          <app-webrtc [name]="'camera0'"></app-webrtc>
        </div>
        <div fxFlex.gt-sm="50" fxFlex="50">
          <h2>Camera 1</h2>
          <app-webrtc [name]="'camera1'"></app-webrtc>
        </div>
      </div>
    </div>
  </md-card-content>
  <md-card-footer>
    <ul id="ul"></ul>
  </md-card-footer>
</md-card>

<md-card class="card-demo">
  <md-card-title>Chat</md-card-title>
  <md-card-content>
    <app-chat></app-chat>
  </md-card-content>
</md-card>
