<h1 class="mat-h1">{{name}}</h1>

<mat-card class="card-demo">
  <mat-card-title>Add cameras</mat-card-title>
  <mat-card-subtitle>Videos have been scaled 75% on this page</mat-card-subtitle>
  <mat-card-content fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="45%">
      <h2 class="mat-h2">Camera 0</h2>
      <app-webrtc [name]="'camera0'"></app-webrtc>
    </div>
    <div fxFlex="45%">
      <h2 class="mat-h2">Camera 1</h2>
      <app-webrtc [name]="'camera1'"></app-webrtc>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <ul id="recorded">
      <li *ngFor="let record of webrtcService.recorded">
        <a [href]="sanitize(record.href)" [download]="record.download">
          {{record.download}}
        </a>
      </li>
    </ul>
  </mat-card-footer>
</mat-card>

<mat-card class="card-demo">
  <mat-card-title>Chat</mat-card-title>
  <mat-card-content>
    <app-chat></app-chat>
  </mat-card-content>
</mat-card>
