<form class="example-form" (ngSubmit)="sendMessage()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Enter text" [(ngModel)]="inputMsg" name="inputM"
           onkeydown="event.keyCode === 13 && document.getElementById('sendMessage').click()">
  </mat-form-field>
  <button mat-button [disabled]="!inputMsg.length" id="sendMessage" color="accent" type="submit">
    Send
  </button>
</form>

<mat-list class="make-scrollable" *ngIf="roomService.rooms[room] && roomService.rooms[room].log">
  <mat-list-item *ngFor="let msg of roomService.rooms[room].log"
                [style.background-color]="msg.user === user ? 'lightsteelblue': 'mediumseagreen'">
    <p matLine>{{msg.content}}</p>
    <p matLine>
      &emsp;[{{msg.user}}] <em>{{msg.date.fromNow()}}</em>
    </p>
  </mat-list-item>
</mat-list>
