<form class="example-form" (ngSubmit)="sendMessage()">
  <md-form-field class="example-full-width">
    <input mdInput placeholder="Enter text" [(ngModel)]="inputMsg" name="inputM"
           onkeydown="event.keyCode === 13 && document.getElementById('sendMessage').click()">
  </md-form-field>
  <button md-button [disabled]="!inputMsg.length" id="sendMessage" color="accent" type="submit">
    Send
  </button>
</form>

<md-list class="make-scrollable" #chatLog>
  <md-list-item *ngFor="let msg of chatService.received.reverse()"
                [style.background-color]="msg.user === user ? 'lightsteelblue': 'mediumseagreen'">
    <p mdLine>{{msg.content}}</p>
    <p mdLine>
      [{{msg.user}}] <em>{{msg.date.fromNow()}}</em>
    </p>
  </md-list-item>
</md-list>
