<div fxLayout="row" fxLayoutAlign="space-around center">
  <mat-card fxFlex="45%" *ngIf="rooms">
    <mat-card-header>Rooms</mat-card-header>
    <mat-card-content>
      <mat-list-item *ngFor="let room of rooms">
        <a matLine [routerLink]="['/room', room.name]">
          {{room.name}} by {{room.owner}}
        </a>
      </mat-list-item>
    </mat-card-content>
  </mat-card>


  <mat-card fxFlex="45%">
    <mat-card-header>Create room</mat-card-header>
    <mat-card-content>
      <form class="example-form" (ngSubmit)="addRoom()">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Room name" name="name" [(ngModel)]="name"
                 onkeydown="event.keyCode === 13 && document.getElementById('go').click()">
        </mat-form-field>
        <button mat-raised-button [disabled]="!name" type="submit" color="primary" id="go">Go</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
